<!-- login.html -->
{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'employees.css' %}">
{% endblock stylesheets %}
{% block title %}CGI | Welcome{% endblock title %}
{% block content %}
<div class="container-fluid ps-md-0">
    <div class="row g-0">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4"
                                style="font-family: 'Prompt', sans-serif; font-size: 24px; margin: 0;">
                                Admin Login
                            </h3>
                            <!-- Sign In Form -->
                            <form method="post" style="font-family: 'Prompt', sans-serif;">
                                {% csrf_token %}
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="username" name="username"
                                        placeholder="username">
                                    <label for="username">Username</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="password" name="password"
                                        placeholder="Password">
                                    <label for="password">Password</label>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2"
                                        type="submit">Sign in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}