{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'employees.css' %}">
{% endblock stylesheets %}

{% block title %}CGI | Welcome{% endblock title %}

{% block content %}

<div class="container" style="margin-bottom: 10%; font-family: 'Prompt', sans-serif;">
    
    <div class="row">
        
        
        <form class="mt-5 col-md-8 offset-md-2 col-lg-6 offset-lg-3 border p-4 shadow-sm" method="POST">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Error:</strong>
                <ul>
                    {% for field in form %}
                    {% for error in field.errors %}
                    <li>{{ field.label }} - {{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="row mb-3 pt-2 text-center text-white" style="background-color: #0D4C92;">
                <h5 >Enter the Details</h5>
            </div>
            <div class="row">
                <div class="col-sm-6 mb-3" >
                    {{ form.name.label_tag }}
                    {{ form.name }}
                </div>
                <div class="col-sm-6 mb-3">
                    {{ form.phone.label_tag }}
                    {{ form.phone }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 mb-3">
                    {{ form.gender.label_tag }}
                    {{ form.gender }}
                </div>
                <div class="col-sm-6 mb-3">
                    {{ form.dob.label_tag }}
                    {{ form.dob }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 mb-3">
                    {{ form.address.label_tag }}
                    {{ form.address }}
                </div>
                <div class="col-sm-6 mb-3">
                    {{ form.city.label_tag }}
                    {{ form.city }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 mb-3">
                    {{ form.state.label_tag }}
                    {{ form.state }}
                </div>
                <div class="col-sm-6 mb-3">
                    {{ form.team.label_tag }}
                    {{ form.team }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 mb-3">
                    {{ form.salary.label_tag }}
                    {{ form.salary }}
                </div>
                <div class="col-sm-6 mb-3">
                    {{ form.doj.label_tag }}
                    {{ form.doj }}
                </div>
            </div>

            <button type="submit" name="employee_form_submit" class="btn btn-outline-success" >Add New Employee</button>
            <a href="{%url 'employee_list' %}" class="btn btn-outline-danger" >Cancel</a>
        </form>
        
    </div>
</div>


{% endblock content %}